
<ejemplo-formulario></ejemplo-formulario>

<br>
<br>
<br>
<br>
<br>

<usuario [datos]="33" modoPorDefecto="VISUALIZACION" [editable]="true"></usuario>
<!--<signup></signup>-->
<!-- 
<usuario [id]="125"></usuario>
Al usar corchetes en el nombre de un atributo html, 
angular entiende que el valor (lo que hay entre comillas)
debe procesarse como si fuera código TS

<usuario [id]="300 +100"></usuario>

<br>
<typewriter text="Mi super máquina de escribir automática"></typewriter>

<br>

<h2>{{this.texto}}</h2>
<br>

<typewriter text="Mi super máquina de escribir automática archilofactica"
    [loop]="true"
    [speed]="100"
></typewriter>

<typewriter 
    [text]="this.texto"
    [speed]="80"
    cursor="_"
    [hideCursorOnComplete]="false"
    textClass="text"
    cursorClass="cursor"
></typewriter>
-->
