<div id="signup">
    <div id="container">

        <!-- Presentación -->
        <div id="presentacion">
            <typewriter (finished)="this.presentacionFinalizada()"
                text="Bienvenido a nuestra app. Vamos a darle de alta.">
            </typewriter>
        </div>

        <ng-container *ngIf="this.estado !== INICIO && this.estado !== PRESENTACION">
            <!-- Campo nombre -->
            <div id="nombre">
                <div>
                    <typewriter text="Introduzca su nombre:" [speed]="20" cursor=""></typewriter>
                </div>
                <div>
                    <input type="text" [(ngModel)]="this.nombre"
                        [readonly]="this.estado !== EN_ESPERA_DE_NOMBRE && this.estado !== NOMBRE_INVALIDO">
                    <span *ngIf="this.estado !== EN_ESPERA_DE_NOMBRE && this.estado !== NOMBRE_INVALIDO"
                        class="ok">√</span>
                    <button *ngIf="this.estado === EN_ESPERA_DE_NOMBRE || this.estado === NOMBRE_INVALIDO"
                        (click)="this.validarElNombre()">Continuar</button>
                    <br><span *ngIf="this.estado === NOMBRE_INVALIDO" class="error">El nombre no es correcto</span>
                </div>
                <!--Hacemos un bindeo BIDIRECCIONAL de la propiedad this.nombre al campo del formulario y viceversa-->
            </div>

            <ng-container *ngIf="this.estado !== EN_ESPERA_DE_NOMBRE && this.estado !== NOMBRE_INVALIDO">
                <!-- Campo email -->
                <div id="email">
                    <div>
                        <typewriter text="Introduzca su email:" [speed]="20" cursor=""></typewriter>
                    </div>
                    <div>
                        <input type="email" [(ngModel)]="this.email"
                            [readonly]="this.estado !== EN_ESPERA_DE_EMAIL && this.estado !== EMAIL_INVALIDO">
                        <span *ngIf="this.estado !== EN_ESPERA_DE_EMAIL && this.estado !== EMAIL_INVALIDO"
                            class="ok">√</span>
                        <button *ngIf="this.estado === EN_ESPERA_DE_EMAIL || this.estado === EMAIL_INVALIDO"
                            (click)="this.validarElEmail()">Continuar</button>
                        <br><span *ngIf="this.estado === EMAIL_INVALIDO" class="error">El email no es correcto</span>
                    </div>
                </div>

                <ng-container *ngIf="this.estado !== EN_ESPERA_DE_EMAIL && this.estado !== EMAIL_INVALIDO">
                    <!-- Campo fecha nacimiento -->
                    <div id="fechaNacimiento">
                        <div>
                            <typewriter text="Introduzca su fecha de nacimiento:" [speed]="20" cursor=""></typewriter>
                        </div>
                        <div>
                            <input type="date" [(ngModel)]="this.fechaNacimiento"
                                [readonly]="this.estado !== EN_ESPERA_DE_FECHA_NACIMIENTO && this.estado !== FECHA_DE_NACIMIENTO_INVALIDA">
                            <span
                                *ngIf="this.estado !== EN_ESPERA_DE_FECHA_NACIMIENTO && this.estado !== FECHA_DE_NACIMIENTO_INVALIDA"
                                class="ok">√</span>
                            <button
                                *ngIf="this.estado === EN_ESPERA_DE_FECHA_NACIMIENTO || this.estado === FECHA_DE_NACIMIENTO_INVALIDA"
                                (click)="this.validarLaFechaDeNacimiento()">Continuar</button>
                            <br><span *ngIf="this.estado === FECHA_DE_NACIMIENTO_INVALIDA" class="error">La fecha de
                                nacimiento no es correcta</span>
                        </div>
                    </div>

                    <ng-container
                        *ngIf="this.estado !== EN_ESPERA_DE_FECHA_NACIMIENTO && this.estado !== FECHA_DE_NACIMIENTO_INVALIDA">
                        <!-- Confirmación -->
                        <div id="confirmacion">
                            <div>
                                <typewriter text="Son los datos correctos?" [speed]="20" cursor=""></typewriter>
                            </div>
                            <div>
                                <button (click)="this.confirmacionOK()">Si</button>
                                <button (click)="this.confirmacionKO()">No</button>
                            </div>
                        </div>

                        <ng-container *ngIf="this.estado !== EN_ESPERA_DE_CONFIRMACION">
                            <!-- Respuesta -->
                            <div id="respuesta">
                                <div id="esperando_respuesta" *ngIf="this.estado === EN_ESPERA_DE_RESPUESTA">
                                    <typewriter text="Espere mientras le damos de alta" [hideCursorOnComplete]="false"></typewriter>
                                    <div id="loaderPanel"><div id="loader"></div></div>
                                </div>
                                <div id="respuesta_ok" *ngIf="this.estado === RESPUESTA_OK">
                                    <typewriter text="Se ha dado de alta correctamente. En breve recibirá un email de confirmación."
                                    [speed]="50"
                                    ></typewriter>
                                </div>
                                <div id="respuesta_nok" *ngIf="this.estado === RESPUESTA_KO">
                                    <typewriter text="Hubo un problema con su registro. Reinténtelo más tarde"></typewriter>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>