:host {
    min-height: 100%;
    min-width: 100%;
}
/* Rows mode*/
#signup {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    width: 100%;
    background-color: #002233;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container {
    width: 50%;
}

#presentacion, #nombre, #email, #fechaNacimiento, #confirmacion {
    margin-bottom: 20px;
}
#nombre>div:first-child,
#email>div:first-child,
#fechaNacimiento>div:first-child,
#confirmacion>div:first-child{
                margin-bottom: 10px;
}


button {
    background-color: #F29F05;
    border: none;
    border-radius: 3px;
    padding: 3px 15px;
    min-width: 50px;
    margin-right: 20px;
}

#presentacion {
    color: #05f2b7;
}
input{
    border: none;
    border-radius: 3px;
    outline-color: #000F1E;
    padding:3px;
    margin-right: 10px;
}