<div id="signup">
    <!---
const INICIO = 0;
const PRESENTACION = 1;
const EN_ESPERA_DE_NOMBRE = 2;
const NOMBRE_INVALIDO = 3;
const EN_ESPERA_DE_EMAIL = 4;
const EMAIL_INVALIDO = 5;
const EN_ESPERA_DE_FECHA_NACIMIENTO = 6;
const FECHA_DE_NACIMIENTO_INVALIDA = 7;
const EN_ESPERA_DE_CONFIRMACION = 8;
const EN_ESPERA_DE_RESPUESTA = 9;
const RESPUESTA_OK = 10;
const RESPUESTA_KO = 11;
-->
    <!-- Presentación -->
    <div id="presentacion">
        <typewriter text="Bienvenido a nuestra app. Vamos a darle de alta"></typewriter>
    </div>

    <ng-container *ngIf="this.estado !== INICIO && this.estado !== PRESENTACION">
        <!-- Campo nombre -->
        <div id="nombre">

        </div>

        <ng-container *ngIf="this.estado !== EN_ESPERA_DE_NOMBRE && this.estado !== NOMBRE_INVALIDO">
            <!-- Campo email -->
            <div id="email">

            </div>

            <ng-container *ngIf="this.estado !== EN_ESPERA_DE_EMAIL && this.estado !== EMAIL_INVALIDO">
                <!-- Campo fecha nacimiento -->
                <div id="fechaNacimiento">

                </div>

                <ng-container
                    *ngIf="this.estado !== EN_ESPERA_DE_FECHA_NACIMIENTO && this.estado !== FECHA_DE_NACIMIENTO_INVALIDA">
                    <!-- Confirmación -->
                    <div id="confirmacion">

                    </div>

                    <ng-container *ngIf="this.estado !== EN_ESPERA_DE_CONFIRMACION">
                        <!-- Respuesta -->
                        <div id="respuesta">

                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>