
<div id="usuario">

    @if( this.estado == this.ESPERANDO_DATOS ) {
        <div id="cargando"> Esperando datos </div>
    }
    @else if( this.estado == this.VISUALIZACION ) {
        <div id="datos">
            <div> <span>Nombre</span> {{this.usuario!.nombre}} </div>
            <div> <span>Email</span> {{this.usuario!.email}} </div>
            <div> <span>Fecha de nacimiento</span> {{this.usuario!.fechaNacimiento}} </div>
            <div> <span>Fecha de alta</span> {{this.usuario!.fechaAlta}} </div>
            <button *ngIf="this.editable" (click)="this.comenzarEdicion()">Editar</button>
        </div>
    }
    @else if( this.estado == this.EDICION 
        || this.estado == this.ESPERANDO_GUARDADO_DATOS 
        || this.estado == this.ERROR_EN_GUARDADO_DE_DATOS) {

            <div id="formulario">
                <form [formGroup]="this.formulario">
                    <div [ngClass]="{'error': !this.formulario.get('nombre')?.valid }">
                        <span>Nombre</span> <input type="text" formControlName="nombre" />
                        <div class="error" *ngIf="this.formulario.get('nombre')?.errors?.['required']"> El nombre es requerido </div>
                        <div class="error" *ngIf="this.formulario.get('nombre')?.errors?.['minlength']"> El nombre debe tener al menos 3 caracteres </div>
                        <div class="error" *ngIf="this.formulario.get('nombre')?.errors?.['maxlength']"> El nombre no puede tener más de 20 caracteres </div>
                        <div class="error" *ngIf="this.formulario.get('nombre')?.errors?.['pattern']"> El nombre solo puede contener letras y espacios </div>
                    </div>
                    <div>
                        <span>Email</span> <input type="text" formControlName="email" />
                        <div class="error" *ngIf="this.formulario.get('email')?.errors?.['required']"> El email es requerido </div>
                        <div class="error" *ngIf="this.formulario.get('email')?.errors?.['email']"> El email no es válido </div>
                    </div>
                    <div> 
                        <span>Fecha de nacimiento</span> <input type="date" formControlName="fechaNacimiento" /> 
                        <div class="error" *ngIf="this.formulario.get('fechaNacimiento')?.errors?.['required']"> La fecha de nacimiento es requerida </div>
                        <div class="error" *ngIf="this.formulario.get('fechaNacimiento')?.errors?.['fechaPasada']"> La fecha de nacimiento debe ser pasada </div>
                    </div>
                    <div> <span>Fecha de alta</span> {{this.usuario!.fechaAlta}} </div>
                </form>
                @if( this.estado == this.EDICION ) {
                    <button [disabled]="!this.formulario.dirty || !this.formulario.valid" (click)="this.guardar()">Guardar</button>
                    
                    <button *ngIf="!this.formulario.dirty; else confirmacionCancelado" (click)="this.cancelarEdicion()">Cancelar</button>
                    <ng-template #confirmacionCancelado>
                        <accion-confirmable
                            caption="Cancelar"
                            confirmationCaption="Si si, cancela"
                            cancellationCaption="No cancelar. Mantenerme a salvo!"
                            (onAccionConfirmada)="cancelarEdicion()"
                        ></accion-confirmable>
                    </ng-template>
                }
                @else if( this.estado == this.ESPERANDO_GUARDADO_DATOS ) {
                    <div id="cargando"> Guardando datos </div>
                }
                @else if( this.estado == this.ERROR_EN_GUARDADO_DE_DATOS ) {
                    <div id="errorGuardado">
                        <div> Error al guardar datos </div>
                        <button (click)="this.solicitarReintentoDeGuardado()">Reintentar</button>
                        <button (click)="this.cancelarEdicion()">Cancelar</button>
                    </div>
                }
        </div>



    }
    @else if( this.estado == this.ERROR_EN_CARGA_DE_DATOS ) {
        <div id="errorCarga">
            <div> Error al cargar datos </div>
            <button (click)="this.solicitarReinitentarCarga()">Reintentar</button>
        </div>
    }
<!--
        @switch(this.estado){

        @case( this.ESPERANDO_DATOS ) {    }
        @case( this.VISUALIZACION ) {   }
        @case(  this.EDICION ){     }
        @case( this.ESPERANDO_GUARDADO_DATOS ){     }
        @case( this.ERROR_EN_GUARDADO_DE_DATOS) {   }
        @case(  this.ERROR_EN_CARGA_DE_DATOS ) {  }
        @default {   }
    }
-->

</div>